<#@ template language="C#" hostspecific="true" #>
<#@ output extension=".log" #>
<#@ include file="Structures.ttinclude" #>
<#@ include file="CommandTable.tt" #>
<#@ include file="Resource.tt" #>
<#@ include file="VSPackage.tt" #>
Success!